* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.content {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content h1 {
  padding-bottom: 10px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#messages {
  list-style-type: none;
  padding: 0;
}

#messages li {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.my-message {
  background-color: #d1f5d1; /* Light green for my messages */
  text-align: right; /* Align to the right */
}

.disconnected-message {
  background-color: #ff0000; /* Light green for my messages */
  text-align: center; /* Align to the right */
}

.other-message {
  background-color: #f1f1f1; /* Light gray for others' messages */
  text-align: left; /* Align to the left */
}

.user-joined {
  background-color: #115cd4; /* Light green for my messages */
  text-align: center;
}

.timestamp {
  font-size: 0.8em; /* Smaller font size */
  color: gray; /* Color for the timestamp */
}

.reactions {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

#usernameform {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#username-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#username {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
}

#username-form button {
  padding: 10px 20px;
}

#channel-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.create-channel,
.join-channel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 15px;
}

.create-channel h3,
.join-channel h3 {
  padding-bottom: 15px;
}

input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
